<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PlantDad/Plants</title>
        <link rel="preload" href="/style/style.css" as="style" />
        <link rel="preload" href="/script/site.js" as="script" />
        <link rel="stylesheet" type="text/css" href="/style/style.css" />
        <link rel="icon" href="/images/plant_dad.ico" />
        <script src="/script/site.js" defer></script>
    </head>

    <body>
        <nav class="navbar" id="navb"></nav>
        <div class="top-text">
            <h1>NEW CONTENT</h1>
        </div>

        <div class="slideshow-container">
            <!-- Navigation Dots -->
            <div class="dots-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <div class="mySlides fade">
                <div class="listall">
                    <h2>Track Progess</h2>
                    <h3>Height</h3>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="listall">
                    <h2>Height and weight converter (g/cm -> kg/m)</h2>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="listall">
                    <h2>Plant phenotyping with image analysis</h2>
                    <p>https://github.com/danforthcenter/plantcv</p>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="listall">
                    <h2>Graphics for yield, height, soil composition</h2>
                </div>
            </div>
        </div>
    </body>
</html>
