<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PlantDad/Plants</title>
        <link rel="preload" href="/style/style.css" as="style" />
        <link rel="preload" href="/script/site.js" as="script" />
        <link rel="stylesheet" type="text/css" href="/style/style.css" />
        <link rel="icon" href="/images/plant_dad.ico" />
        <script src="/script/site.js" defer></script>
    </head>

    <body>
        <nav class="navbar" id="navb"></nav>
        <div class="top-text">
            <h1>NEW CONTENT</h1>
        </div>
        <button class="collapsible">Plants</button>
        <div class="content">
            <ul>
                <li>
                    <button class="collapsible">Adding a plant</button>
                    <div class="content"></div>
                </li>
                <li>
                    <button class="collapsible">Editing a plant</button>
                    <div class="content"></div>
                </li>
                <li>
                    <button class="collapsible">Listing all plants</button>
                    <div class="content"></div>
                </li>
            </ul>
        </div>
        <button class="collapsible">Notes</button>
        <div class="content"></div>
    </body>
</html>
